.amarillo {
    background-color: yellow
}
.azul {
    background-color: #0071B1
}
.azul2 {
    background-color: rgb(0, 113, 177, .7)
}
.rojo {
    background-color: red
}
.altura1 {
    height: 15vh
}
.altura2 {
    height: 100%
}


@media screen and (min-width: 100px) and (max-width: 800px) {
    .caja-azul {
        display: none !important
    }
  }

@media screen and (min-width: 800px) and (max-width: 1800px) {
    .caja-movil {
      display: none !important
    }
  }


@import "../node_modules/bootstrap/scss/bootstrap.scss";